* { box-sizing: border-box; }

$body-background-color: #e2e2e2;
$main-title-color: #777;

body {
    background: $body-background-color;
    margin: 0;
}

body,
html,
.app{
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li{
    padding: 0;
    margin: 0;
}

li{ list-style: none; }